@media screen and (max-width: 320px){
	body,
	.wrapper{background-color: white !important;}

	.block{
		width: 100% !important;
		min-width: 320px;
		border: 0 !important;
	}

	.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1{
		display: block !important;
		width: inherit !important;
	}
}

@media screen and (min-width: 321px) and (max-width: 768px){
	.block{
		width: 380px !important;
	}
	
	.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1{
		display: block !important;
		width: inherit !important;
	}
}

@media screen and (max-width: 768px){
	.mobil-text-left{
		text-align: left !important;
	}
	.mobil-text-right{
		text-align: right !important;
	}
	.mobil-text-center{
		text-align: center !important;
	}
	.mobil-text-justify{
		text-align: justify !important;
	}
}

@media screen and (min-width: 769px){}