extends layout

block title
	title Simple Mail

block content
	table.block
		tr
			td.row.padding
				table.content
					tr
						td.col-12
							h1 Wazzzzuuup!
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							+button(
								"https://github.com/wildneo/simple-mail",
								"Get Started",
								"ghostly"
							)
	+msoPadding(20)