table.block.no-block-decor
	tr
		td.row
			table.content
				tr
					td.col-12
						span Roman Oskolkov 
						+socialIcons(
							'https://github.com/wildneo',
							'github',
							'tiny',
							'round',
							'black'
						)
+msoPadding(20)